.body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    /* padding: 1rem 2rem; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 700px;
    font-family: "Roboto Condensed", sans-serif;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}

.nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 20px;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Roboto Condensed", sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 20px 75px;
    text-decoration: none;
    display: block;
    font-family: "Roboto Condensed", sans-serif;
}

.dropdown-content a:hover {
    font-family: "Roboto Condensed", sans-serif;
    color : white

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover > a {
    background-color: #575757;
}


/* Global Styles */
.home-container {
    /* padding: 20px; */
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Roboto Condensed", sans-serif;
}

/* Hero Section */


/* Featured Products Section */
.featured-products {
    padding-left: 60px;
    padding-right: 70px;
    font-family: "Roboto Condensed", sans-serif;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Roboto Condensed", sans-serif;
}

.product-card {
    margin-top: 30px;
    width: calc(33.33% - 30px);
    margin-bottom: 20px;
    background-color: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    font-family: "Roboto Condensed", sans-serif;
}

.product-card:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: "Roboto Condensed", sans-serif;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    font-family: "Roboto Condensed", sans-serif;
}

.product-details {
    padding: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

.product-details h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

.product-details p {
    font-size: 1rem;
    color: white;
    margin-bottom: 15px;
    font-family: "Roboto Condensed", sans-serif;
}

/* Banner Section */
.banner {
    margin-top: 40px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

.banner img {
    max-width: 100%;
    height: auto;
    font-family: "Roboto Condensed", sans-serif;
}



.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.footer-section {
  max-width: 200px;
}

.footer-section h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 12px;
  margin: 5px 0;
}

.app-buttons img, .payment-methods img {
  width: 100px;
  margin-right: 10px;
}

.app-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.payment-methods {
  display: flex;
  justify-content: flex-start;
}

.no-border-input:focus{
  border: "none";
  outline: "none";
}

input {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;  /* Removes the default focus outline */
}

input:focus {
    border-bottom: 2px solid #000; /* Ensures the bottom border stays the same on focus */
}



